# Public Center Configuration
NEXT_PUBLIC_SITE_URL=https://hadramout.center
NEXT_PUBLIC_CONTACT_EMAIL=info@hadramout.center
NEXT_PUBLIC_WHATSAPP_YE=+967773570194
NEXT_PUBLIC_WHATSAPP_SA=+966556408983
